streamlit
pandas
scikit-learn
xgboost
catboost
numpy
matplotlib
seaborn
Flask
flask_sqlalchemy
pymongo
bcrypt
resnet
requests
geocoder
opencv-python
ultralytics
folium
streamlit-folium
streamlit-option-menu
